<!doctype html>

<html lang="en">

  <head>
	  <link rel="icon" 
      type="image/x-icon" 
      href="{{ url_for('static', filename='favicon.ico') }}" />
	  
      <title>Glen Bland Catalog Project</title>
      <meta name="description" content="Catalog Project for Udacity Full Stack Web Developer">
      <meta name="keywords" content="Glen, Bland, Catalog, Udacity">
      <meta name="author" content="Glen Bland">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- my style sheet -->
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style3.css') }}">
      <!-- google font Bungiee Inline -->
      <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Metrophobic" rel="stylesheet">

  </head>

  <body>
    <!-- This is used to center the page when wider than 960px -->
    <div class="page__wrapper">

      <header>
        <div class="header__left__wrapper">
		  <img class="header__logo" src="{{ url_for('static', filename='winking_emoji_540x540.jpg') }}" alt="winking emoji">
		  <div class="header__text__wrapper">
            <h3 class="header__title">Totally Legit Store</h3>
          </div> <!-- end of header__text__wrapper -->
		</div> <!-- end of header__brand__wrapper -->
		
		<div class="header__login__wrapper">
		  {% if loggedIn != "True": %}
		    <a href='{{url_for('showLogin')}}' class = "header__login__button">Login</a>
			<img class="header__user__pic" src="{{ url_for('static', filename='generic_user_1.png') }}" alt="generic user pic">
		  {% else: %}
		    <a href='{{url_for('gdisconnect')}}' class = "header__login__button">Logout</a>
			<img class="header__user__pic" src="{{ login_session['picture'] }}" alt="user pic">
		  {% endif %}
		</div> <!-- end of header__login__wrapper -->
      </header>

     <hr>

      <main>

        <!-- Hero Image -->
        <div class="hero__image__wrapper">
          <img class="hero__image" src="{{ url_for('static', filename='closed.jpg') }}" alt="closed">
          <!-- white text over hero image: site description -->
          <h2 class="hero__text">Catalog Project</h2>
        </div> <!-- end of hero__image__wrapper -->

		<div class="flash__wrapper">
		    {% with messages = get_flashed_messages() %}
            {% if messages %}

            <ul>
              {% for message in messages %}
                <li class="flash__message"><strong> {{ message }} </strong></li>
              {% endfor %}
            </ul>
			
            {% endif %}
            {% endwith %}
			
        </div> <!-- end flash -->
		
		<!-- sections (categories and items) -->
		<div class="section__wrapper">
		
		  <!-- categories section -->
		  <section class="categories">
		    <header>
              <h2 class="section__title"><a href='{{url_for('ShowAllCategoriesItems')}}' >Categories</a></h2>
            </header>
		    <hr>
			{% for i in categories %}
		    <div class="category"><h3><a href='{{url_for('ShowItemsInCategory', category_id = i.id)}}' >{{i.name}}</a></h3>
			  <div class="category__edit__delete">
			    <a href='{{url_for('editCategory', category_id = i.id)}}' >Edit</a> | 
	            <a href='{{url_for('deleteCategory', category_id = i.id)}}' >Delete</a>
			  </div>
			</div>
		    {% endfor %}
		    <div class="add__category"><a href = '{{url_for('addNewCategory')}}'>Add New Category</a></div>
		  </section> <!-- end of categories section -->
		  
		  <section class="items">
		    <header>
              <h2 class="section__title">Edit Item</h2>
            </header>
			<hr>
		    
		    <div class="item__wrapper">
			  <!-- form -->
			  <form action="{{ url_for('editItem', catalog_item_id = catalog_item_id, item = item, category = category, categories = categories)}}" id="edit__item__form" method = 'POST'>
				<ul class="form__style">
				  <div id='name__notify'>Name can not be blank or start with a space.</div>
				  <li><label for="name">Name<abbr class="required" title="This field is mandatory"> *</abbr></label>
				    <input type ='text' name='name' id="name" class="field__long" value="{{item.name }}"  minlength="1" maxlength="25" required pattern="[^\s][A-z0-9À-ž\s]+">
				  </li>
				  <div id='description__notify'>Description can not be blank.</div>
				  <li>
				    <label for="description">Description<abbr class="required" title="This field is mandatory"> *</abbr></label>
				    <textarea name = 'description' id="description" class="field__long field__textarea" rows='5' required>{{item.description }}</textarea>
				  </li>
				  <div id='price__notify'>Price should start with a $ followed by 1-6 digits, then decimal and 2 digits. e.g. $0.99 or $9999.00</div>
				  <li>
				      <label for="price">Price<abbr class="required" title="This field is mandatory"> *</abbr></label>
				      <input type = 'text' name='price'
					    id='price' size='10' value="{{item.price}}"
					    pattern="\$\d{1,6}\.\d{2}" minlength='5' maxlength='10'
					    title="Price should start with a $ followed by 1-6 digits, then decimal and 2 digits. e.g. $0.99 or $9999.00" required>
				    </li>
				  <div id='category__notify'>Please select a category.</div>
				  <li>
				    <label for="category">Category<abbr class="required" title="This field is mandatory"> *</abbr></label>
				    <select name = 'category_id' id="category" class="field__select" required>
					  <option value = '{{category.id}}'>{{category.name}}</option>
					  {% for i in categories %}
					    {% if i.name != category.name %}
						  <option value = '{{i.id}}'>{{i.name}}</option>
					    {% endif %}
					  {% endfor %}
				    </select>
				  </li>
			      <li>
				    <input type='submit' value='Edit'>
				    <a href='{{url_for('ShowItemAfterCancelEdit', catalog_item_id = item.id)}}' class="button">Cancel</a>
				  </li>
				</ul>
			  </form> <!-- end of form -->
			  
		    </div> <!-- end of item__wrapper -->
		  
		  </section> <!-- end of items section -->
		</div> <!-- end of section__wrapper -->
		
        <footer>
          <h4>Created by Glen Bland 2018</h4>
        </footer>

      </main>

    </div> <!-- end of page__wrapper -->

	<script>
	  /* var input = document.getElementById('price');  
	    input.oninvalid = function(event) {
		event.target.setCustomValidity('$ followed by 1-6 digits, then a decimal and 2 digits. e.g. $0.99 or $9999.00');
	  } */
	  
	(function() {
	
		var	form                    = document.getElementById('edit__item__form');
		var inputName               = document.getElementById('name');
		var	noticeName              = document.getElementById('name__notify');
		var inputDescription        = document.getElementById('description');
		var	noticeDescription       = document.getElementById('description__notify');
		var inputPrice              = document.getElementById('price');
		var	noticePrice             = document.getElementById('price__notify');
		var inputCategory           = document.getElementById('category');
		var	noticeCategory          = document.getElementById('category__notify');
		
		noticeName.style.display  = 'none';
		noticeDescription.style.display = 'none';
		noticePrice.style.display = 'none';
		noticeCategory.style.display = 'none';
		
		inputName.addEventListener('invalid', function(event){
			event.preventDefault();
			if ( ! event.target.validity.valid ) {
				noticeName.className     = 'error';
				inputName.className      = 'invalid';
				noticeName.style.display = 'flex';
			}
		});

		inputName.addEventListener('input', function(event){
			if ( 'flex' === noticeName.style.display ) {
				noticeName.style.display = 'none';
				inputName.className      = 'field__long';
			}
		});
		
		inputDescription.addEventListener('invalid', function(event){
			event.preventDefault();
			if ( ! event.target.validity.valid ) {
				noticeDescription.className     = 'error';
				inputDescription.className      = 'invalid';
				noticeDescription.style.display = 'flex';
			}
		});

		inputDescription.addEventListener('input', function(event){
			if ( 'flex' === noticeDescription.style.display ) {
				noticeDescription.style.display = 'none';
				inputDescription.className      = 'field__long';
			}
		});
		
		inputPrice.addEventListener('invalid', function(event){
			event.preventDefault();
			if ( ! event.target.validity.valid ) {
				/* inputPrice.className    = 'invalid animated shake'; */
				/* elemPrice.textContent   = 'Price should start with a $ followed by 1-6 digits, then a decimal and 2 digits. e.g. $0.99 or $9999.00'; */
				noticePrice.className     = 'error';
				inputPrice.className      = 'invalid';
				noticePrice.style.display = 'flex';
			}
		});

		inputPrice.addEventListener('input', function(event){
			if ( 'flex' === noticePrice.style.display ) {
				/* inputPrice.className = ''; */
				noticePrice.style.display = 'none';
				inputPrice.className      = '';
			}
		});
		
		inputCategory.addEventListener('invalid', function(event){
			event.preventDefault();
			if ( ! event.target.validity.valid ) {
				noticeCategory.className     = 'error';
				inputCategory.className      = 'invalid';
				noticeCategory.style.display = 'flex';
			}
		});

		inputCategory.addEventListener('input', function(event){
			if ( 'flex' === noticeCategory.style.display ) {
				noticeCategory.style.display = 'none';
				inputCategory.className      = 'field__long';
			}
		});

	})();
	</script>
	
  </body>

</html>