<!doctype html>

<html lang="en">

  <head>

      <title>Glen Bland Catalog Project</title>
      <meta name="description" content="Catalog Project for Udacity Full Stack Web Developer">
      <meta name="keywords" content="Glen, Bland, Catalog, Udacity">
      <meta name="author" content="Glen Bland">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- my style sheet -->
      <link rel="stylesheet" href="../static/style3.css">
      <!-- google font Bungiee Inline -->
      <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Metrophobic" rel="stylesheet">
      
  </head>

  <body>
    <!-- This is used to center the page when wider than 960px -->
    <div class="page__wrapper">

      <header>
        <div class="header__left__wrapper">
		  <img class="header__logo" src="../static/winking_emoji_540x540.jpg" alt="winking emoji">
		  <div class="header__text__wrapper">
            <h3 class="header__title">Totally Legit Store</h3>
          </div> <!-- end of header__text__wrapper -->
		</div> <!-- end of header__brand__wrapper -->
		
		<div class="header__login__wrapper">
		  <a href='{{url_for('Login')}}' class = "header__login__button">Login</a>
		</div> <!-- end of header__login__wrapper -->
      </header>

     <hr>

      <main>

        <!-- Hero Image -->
        <div class="hero__image__wrapper">
          <img class="hero__image" src="../static/closed.jpg" alt="closed">
          <!-- white text over hero image: site description -->
          <h2 class="hero__text">Catalog Project</h2>
        </div> <!-- end of hero__image__wrapper -->

		<!-- sections (categories and items) -->
		<div class="section__wrapper">
		  <section class="categories">
		    <header>
              <h2 class="section__title">Categories</h2>
            </header>
		    <hr>
		    <div class="category"><h3>Electronics</h3><div class="category__edit__delete"> Edit | Delete</div></div>
		    <div class="category"><h3>Kitchen</h3><div class="category__edit__delete"> Edit | Delete</div></div>
		    <div class="category"><h3>Automotive</h3><div class="category__edit__delete"> Edit | Delete</div></div>
		    <div class="category"><h3>Garden</h3><div class="category__edit__delete"> Edit | Delete</div></div>
		    <div class="category"><h3>Sporting Goods</h3><div class="category__edit__delete"> Edit | Delete</div></div>
		    <div class="add__category">Add New Category</div>
		  </section> <!-- end of categories section -->
		  
		  <section class="items">
		    <header>
              <h2 class="section__title">Items</h2>
            </header>
			<hr>
		    <div class="section__items__link">Add New Item</div>
		  
		    <div class="item__wrapper">
		      <h3 class="item__name">Coffee Maker</h3>
			  <div class="item__description">Description of Coffee Maker goes here. and now we need to make this really really long, so I am just going to type a bit more here. grammar doesn't matter.</div>
			  <div class="item__price">$79.00</div>
			  <div class="item__category">Kitchen</div>
			  <div class="item__edit__delete">Edit | Delete</div>
		    </div> <!-- end of item__wrapper -->
		  
		    <div class="item__wrapper">
		      <h3 class="item__name">Laptop</h3>
			  <div class="item__description">Description of laptop goes here.</div>
			  <div class="item__price">$799.00</div>
			  <div class="item__category">Electronics</div>
			  <div class="item__edit__delete">Edit | Delete</div>
		    </div> <!-- end of item__wrapper -->
			
			<div class="item__wrapper">
		      <h3 class="item__name">Headlight Fluid</h3>
			  <div class="item__description">Description of headlight fluid goes here.</div>
			  <div class="item__price">$9.99</div>
			  <div class="item__category">Automotive</div>
			  <div class="item__edit__delete">Edit | Delete</div>
		    </div> <!-- end of item__wrapper -->
			
		  </section> <!-- end of items section -->
		</div> <!-- end of section__wrapper -->
		
        <footer>
          <h4>Created by Glen Bland 2018</h4>
          
        </footer>

      </main>

    </div> <!-- end of page__wrapper -->

  </body>

</html>