<html>
    <head>
	       <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>


	<body>
	    <div class = 'pane'>
		    <div class = 'header'>
		        <h1>Catalog Categories</h1>
	        </div>
			</br>
	        <a href = '{{url_for('addNewCategory')}}'>Create New Category</a>
			</br></br>

            <div class = 'flash'>
		        {% with messages = get_flashed_messages() %}
                {% if messages %}

                <ul>
                    {% for message in messages %}
                    <li> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}

            </div>


		    {% for i in category %}
            <div class = 'description'>
		        <p><h2><a href='{{url_for('ShowItemsInCategory', category_id = i.id)}}' >{{i.name}}</a></h2></p>
	        </div>
		

	        <div class = "editdeletepane">

	            <a href='{{url_for('editCategory', category_id = i.id)}}' >Edit</a> | 
	            <a href='{{url_for('deleteCategory', category_id = i.id)}}' >Delete</a>
				</br></br>
	        </div>
		    {% endfor %}

			</br>
            </div>
        </div>
	</body>
</html>
